body{
text-align:center;
  background: linear-gradient(#60ebeb 0%, #27ae60 100%);
background-repeat:no repeat;
}
h1{
text-shadow:2px 2px #F8BBD0;
 font-size:20px;
}
#bio{
padding:20px;
font-size:18;
 text-align:center;
}
img{
 border-radious:50%;
 width:100px;
}